@use "sass:math";

// Hamburger
// ==================================================
.hamburger {
  padding: var(--hamburger-padding-y) var(--hamburger-padding-x);
  display: inline-block;
  cursor: pointer;

  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;

  // Normalize (<button>)
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;

  appearance: button;
  user-select: none;

  &:hover {
    @if $hamburger-hover-use-filter == true {
      filter: var(--hamburger-hover-filter);
    } @else {
      opacity: var(--hamburger-hover-opacity);
    }
  }

  &.is-active {
    &:hover {
      @if $hamburger-hover-use-filter == true {
        filter: var(--hamburger-active-hover-filter);
      } @else {
        opacity: var(--hamburger-active-hover-opacity);
      }
    }

    .hamburger-inner,
    .hamburger-inner::before,
    .hamburger-inner::after {
      background-color: var(--hamburger-active-layer-color);
    }
  }
}

.hamburger-box {
  width: var(--hamburger-layer-width);
  height: calc(
    calc(var(--hamburger-layer-height) * 3) +
      calc(var(--hamburger-layer-spacing) * 2)
  );
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: math.div($hamburger-layer-height, -2);

  &,
  &::before,
  &::after {
    width: var(--hamburger-layer-width);
    height: var(--hamburger-layer-height);
    background-color: var(--hamburger-layer-color);
    border-radius: var(--hamburger-layer-border-radius);
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
  }

  &::before,
  &::after {
    content: "";
    display: block;
  }

  &::before {
    top: calc(
      calc(var(--hamburger-layer-spacing) + var(--hamburger-layer-height)) * -1
    );
  }

  &::after {
    bottom: calc(
      calc(var(--hamburger-layer-spacing) + var(--hamburger-layer-height)) * -1
    );
  }
}
