// Hamburger
// ==================================================
$hamburger-padding      : 15px;
$hamburger-layer-width  : 40px;
$hamburger-layer-height : 4px;
$hamburger-layer-spacing: 6px;
$hamburger-layer-color  : #fff;

.hamburger {
  padding: $hamburger-padding;
  display: inline-block;
  cursor: pointer;
}

.hamburger-box {
  width: $hamburger-layer-width;
  height: $hamburger-layer-height * 3 + $hamburger-layer-spacing * 2;
  position: relative;
}

.hamburger-inner {
  top: 50%;
  margin-top: $hamburger-layer-height / -2;

  &,
  &::before,
  &::after {
    width: $hamburger-layer-width;
    height: $hamburger-layer-height;
    background-color: $hamburger-layer-color;
    border-radius: $hamburger-layer-height;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
  }

  &::before,
  &::after {
    content: "";
    display: block;
  }

  &::before {
    top: ($hamburger-layer-spacing + $hamburger-layer-height) * -1;
  }

  &::after {
    bottom: ($hamburger-layer-spacing + $hamburger-layer-height) * -1;
  }
}
