// Layout
// ==================================================
.table {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.tray {
  text-align: center;
  width: 50%;
  background-color: #2196f3;
  padding-top: 3em + 1.75em;
  padding-bottom: 3em;
  position: relative;
}
.tray:nth-child(1) {
  background-color: #4a148c;
}
.tray:nth-child(2) {
  background-color: #4db6ac;
}
.tray:nth-child(3) {
  background-color: #ff5722;
}
.tray:nth-child(4) {
  background-color: #444;
}
.tray:nth-child(5) {
  background-color: #ec407a;
}
.tray:nth-child(6) {
  background-color: #fbc02d;
}
.tray:nth-child(7) {
  background-color: #2196f3;
}
.tray:nth-child(8) {
  background-color: #607d8b;
}
.tray:nth-child(9) {
  background-color: #43a047;
}
.tray:nth-child(10) {
  background-color: #795548;
}

@media only screen and (min-width: 480px) {
  .tray {
    padding-top: 5em + 1.75em;
    padding-bottom: 5em;
  }
}
