// Settings
// ==================================================
$white: #fff;
$black: #000;

$grey-darkest: #222;
$grey-darker: #444;
$grey: #999;
$grey-lightest: #f4f4f4;

$blue: #2196f3;
$blue-grey: #607d8b;
$brown: #795548;
$cyan: #00bcd4;
$green: #43a047;
$indigo: #3f51b5;
$orange: #ff5722;
$pink: #ec407a;
$plum: #4a148c;
$purple: #9c27b0;
$red: #f44336;
$teal: #4db6ac;
$yellow: #fbc02d;
