// Hamburger Types
// ==================================================

// Slider
// ==================================================
.hamburger--slider {
  .hamburger-inner {
    top: 0;

    &::before {
      top: $hamburger-layer-height + $hamburger-layer-offset;
      transition-property: transform, opacity;
      transition-duration: 0.2s;
    }

    &::after {
      top: ($hamburger-layer-height * 2) + ($hamburger-layer-offset * 2);
    }
  }

  &.is-active {
    .hamburger-inner {
      $y-offset: $hamburger-layer-offset + $hamburger-layer-height;

      transform: translate3d(0, $y-offset, 0) rotate(45deg);

      &::before {
        transform: rotate(-45deg) translate3d($hamburger-layer-width / -2, $hamburger-layer-offset * -1, 0);
        opacity: 0;
      }

      &::after {
        transform: translate3d(0, $y-offset * -2, 0) rotate(-90deg);
      }
    }
  }
}

// Squeeze
// ==================================================
.hamburger--squeeze {
  .hamburger-inner {
    transition-duration: 0.1s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);

    &::before {
      transition: top 0.1s 0.14s ease,
                  opacity 0.1s ease;
    }

    &::after {
      transition: bottom 0.1s 0.14s ease,
                  transform 0.1s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
  }

  &.is-active {
    .hamburger-inner {
      transform: rotate(45deg);
      transition-delay: 0.14s;
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);

      &::before {
        top: 0;
        opacity: 0;
        transition: top 0.1s ease,
                    opacity 0.1s 0.14s ease;
      }

      &::after {
        bottom: 0;
        transform: rotate(-90deg);
        transition: bottom 0.1s ease,
                    transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
      }
    }
  }
}

// Arrow
// ==================================================
.hamburger--arrow.is-active {
  .hamburger-inner {
    &::before {
      transform: translate3d($hamburger-layer-width * -0.2, 0, 0) rotate(-45deg) scale(0.7, 1);
    }

    &::after {
      transform: translate3d($hamburger-layer-width * -0.2, 0, 0) rotate(45deg) scale(0.7, 1);
    }
  }
}

// Arrow Right
// ==================================================
.hamburger--arrow-r.is-active {
  .hamburger-inner {
    &::before {
      transform: translate3d($hamburger-layer-width * 0.2, 0, 0) rotate(45deg) scale(0.7, 1);
    }

    &::after {
      transform: translate3d($hamburger-layer-width * 0.2, 0, 0) rotate(-45deg) scale(0.7, 1);
    }
  }
}

// Arrow Alt
// ==================================================
.hamburger--arrowalt {
  .hamburger-inner {
    &::before {
      transition: top 0.1s 0.15s ease,
                  transform 0.15s cubic-bezier(0.165, 0.84, 0.44, 1);
    }

    &::after {
      transition: bottom 0.1s 0.15s ease,
                  transform 0.15s cubic-bezier(0.165, 0.84, 0.44, 1);
    }
  }

  &.is-active {
    .hamburger-inner {
      &::before {
        top: 0;
        transform: translate3d($hamburger-layer-width * -0.2, $hamburger-layer-width * -0.25, 0) rotate(-45deg) scale(0.7, 1);
        transition: top 0.1s ease,
                    transform 0.15s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
      }

      &::after {
        bottom: 0;
        transform: translate3d($hamburger-layer-width * -0.2, $hamburger-layer-width * 0.25, 0) rotate(45deg) scale(0.7, 1);
        transition: bottom 0.1s ease,
                    transform 0.15s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
      }
    }
  }
}

// Arrow Alt Right
// ==================================================
.hamburger--arrowalt-r.is-active {
  .hamburger-inner {
    &::before {
      top: 0;
      transform: translate3d($hamburger-layer-width * 0.2, $hamburger-layer-width * -0.25, 0) rotate(45deg) scale(0.7, 1);
      transition: top 0.1s ease,
                  transform 0.15s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
    }

    &::after {
      bottom: 0;
      transform: translate3d($hamburger-layer-width * 0.2, $hamburger-layer-width * 0.25, 0) rotate(-45deg) scale(0.7, 1);
      transition: bottom 0.1s ease,
                  transform 0.15s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
    }
  }
}

// Spin
// ==================================================
.hamburger--spin {
  .hamburger-inner {
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);

    &::before {
      transition: top 0.1s 0.34s ease-in,
                  opacity 0.1s ease-in;
    }

    &::after {
      transition: bottom 0.1s 0.34s ease-in,
                  transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
  }

  &.is-active {
    .hamburger-inner {
      transform: rotate(225deg);
      transition-delay: 0.14s;
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);

      &::before {
        top: 0;
        opacity: 0;
        transition: top 0.1s ease-out,
                    opacity 0.1s 0.14s ease-out;
      }

      &::after {
        bottom: 0;
        transform: rotate(-90deg);
        transition: bottom 0.1s ease-out,
                    transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
      }
    }
  }
}

// Elastic
// ==================================================
.hamburger--elastic {
  .hamburger-inner {
    top: 0;
    transition-duration: 0.4s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);

    &::before {
      top: $hamburger-layer-height + $hamburger-layer-offset;
      transition: opacity 0.15s 0.4s ease;
    }

    &::after {
      top: ($hamburger-layer-height * 2) + ($hamburger-layer-offset * 2);
      transition: transform 0.4s 0s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
  }

  &.is-active {
    .hamburger-inner {
      $y-offset: $hamburger-layer-offset + $hamburger-layer-height;

      transform: translate3d(0, $y-offset, 0) rotate(135deg);
      transition-delay: 0.1s;

      &::before {
        transition-delay: 0s;
        opacity: 0;
      }

      &::after {
        transform: translate3d(0, $y-offset * -2, 0) rotate(-270deg);
        transition-delay: 0.1s;
      }
    }
  }
}

// Emphatic
// ==================================================
.hamburger--emphatic {
  overflow: hidden;

  .hamburger-inner {
    transition: background-color 0.2s 0.25s ease-in;

    &::before {
      left: 0;
      transition: transform 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335),
                  top 0.05s 0.2s linear,
                  left 0.2s 0.25s ease-in;
    }

    &::after {
      top: ($hamburger-layer-height) + ($hamburger-layer-offset);
      right: 0;
      transition: transform 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335),
                  top 0.05s 0.2s linear,
                  right 0.2s 0.25s ease-in;
    }
  }

  &.is-active {
    .hamburger-inner {
      transition-delay: 0s;
      transition-timing-function: ease-out;
      background-color: transparent;

      &::before {
        left: $hamburger-layer-width * -2;
        top: $hamburger-layer-width * -2;
        transform: translate3d($hamburger-layer-width * 2, $hamburger-layer-width * 2, 0) rotate(45deg);
        transition: left 0.2s ease-out,
                    top 0.05s 0.2s linear,
                    transform 0.2s 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
      }

      &::after {
        right: $hamburger-layer-width * -2;
        top: $hamburger-layer-width * -2;
        transform: translate3d($hamburger-layer-width * -2, $hamburger-layer-width * 2, 0) rotate(-45deg);
        transition: right 0.2s ease-out,
                    top 0.05s 0.2s linear,
                    transform 0.2s 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
      }
    }
  }
}

// Collapse
// ==================================================
.hamburger--collapse {
  .hamburger-inner {
    top: auto;
    bottom: 0;
    transition-duration: 0.15s;
    transition-delay: 0.15s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);

    &::after {
      top: ($hamburger-layer-offset * 2 + $hamburger-layer-height * 2) * -1;
      transition: top 0.3s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
                  opacity 0.1s linear;
    }

    &::before {
      transition: top 0.12s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
                  transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
  }

  &.is-active {
    .hamburger-inner {
      transform: translate3d(0, ($hamburger-layer-offset + $hamburger-layer-height) * -1, 0) rotate(-45deg);
      transition-delay: 0.32s;
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);

      &::after {
        top: 0;
        opacity: 0;
        transition: top 0.3s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
                    opacity 0.1s 0.27s linear;
      }

      &::before {
        top: 0;
        transform: rotate(-90deg);
        transition: top 0.12s 0.18s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
                    transform 0.15s 0.42s cubic-bezier(0.215, 0.61, 0.355, 1);
      }
    }
  }
}

// Vortex
// ==================================================
.hamburger--vortex {
  .hamburger-inner {
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);

    &::before,
    &::after {
      transition-duration: 0s;
      transition-delay: 0.1s;
      transition-timing-function: linear;
    }

    &::before {
      transition-property: top, opacity;
    }

    &::after {
      transition-property: bottom, transform;
    }
  }

  &.is-active {
    .hamburger-inner {
      transform: rotate(765deg);
      transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);

      &::before,
      &::after {
        transition-delay: 0s;
      }

      &::before {
        top: 0;
        opacity: 0;
      }

      &::after {
        bottom: 0;
        transform: rotate(90deg);
      }
    }
  }
}

// Boring
// ==================================================
.hamburger--boring {
  .hamburger-inner {
    &,
    &::before,
    &::after {
      transition: none;
    }
  }

  &.is-active {
    .hamburger-inner {
      transform: rotate(45deg);

      &::before {
        top: 0;
        opacity: 0;
      }

      &::after {
        bottom: 0;
        transform: rotate(-90deg);
      }
    }
  }
}
