// Home
// ==================================================

.name {
  font-size: 0.8em;
  font-weight: 700;
  color: #fff;
  padding-top: 1.25em;
  padding-top: 2em;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
