/*
 * Arrow Turn Down quick
 */
.hamburger--arrowturn-down-90-left.is-active {
  .hamburger-inner {
    transform: rotate(-90deg);

    &::before {
      transform: translate3d(-8px, 0, 0) rotate(-45deg) scale(0.7, 1);
    }

    &::after {
      transform: translate3d(-8px, 0, 0) rotate(45deg) scale(0.7, 1);
    }
  }
}
